@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-background);
}

@theme inline {
  --font-work-sans: "Work Sans", "sans-serif";

  --radius-4xl: 1.75rem;
  --radius-5xl: 2rem;

  --color-background: oklch(100% 0 0);
  --color-primary: oklch(20.53% 0.0081 274.52);
  --color-primary-active: oklch(28.52% 0.006 271.22);
}
